body {
   margin: 0;
   background: #1e1e1e;
   font-family: Arial;
   color: white;
}

.mainbox {
   border: 1px solid #a4a4a4;
   border-radius: 14px;
   margin: 2% auto;
   padding: 2%;
   text-wrap: nowrap;
}

.bgzone,
.chzone {
   border: 1px solid #a4a4a4;
   border-radius: 14px;
   padding: 1%;
}
.chzone {
   margin-top: 2%;
}

.sprmanipulations-maintitle {
   display: flex;
   align-items: center;
   height: 100%;
}

#show-sprtime,
#show-sprdec {
   display: flex;
   align-items: center;
   justify-content: center;
}

.form-check {
   display: flex;
   align-items: center;
   gap: 8px;
   margin-bottom: 4px;
}

.bgweather,
.bgcorrections,
.bgeffects {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100%;
}

#app {
   display: flex;
   flex-direction: column;
   margin-bottom: 2%;
}

/* .sprman {
   border: 1px solid #a4a4a4;
   border-radius: 14px;
   padding: 12px;
} */

#scene-container {
   /* flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #ffffff; */
   width: 100%;
   display: flex;
   justify-content: center;
}

#scene {
   position: relative;
   aspect-ratio: 16 / 9;
   width: 100%;
   max-width: 1280px;

   overflow: hidden;
}

.PreviewScene {
   cursor: pointer;
}

#bg {
   position: absolute;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

#char-body,
#char-clothes,
#char-emotion {
   object-fit: contain;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   height: 100%;
   width: auto;
}

/* @media (max-width: 768px) {
   .container {
      padding: 0 6px;
   }
} */

#scene-container,
.PreviewScene {
   /* margin: 6px 0; */
   width: 100%;
}

.bg-interactions,
.character-interactions {
   backdrop-filter: blur(10px);
}
